header {
  background-color: #2c3e50;
}

header h5 {
  color: white;
}

a {
  text-decoration: none;
}

header a {
  color: white;
}

.header-container {
  height: 60px;
}

.header-section {
  background-color: #1abc9c;
  color: white;
}

.header-section img {
  min-height: 0;
  max-height: 250px;
}

.hr {
  height: 5px;
  max-width: 170px;
  background-color: white;
  border-radius: 50px;
}

.portfolio .hr {
  background-color: black;
}
