header {
  background-color: #2c3e50;
}

header {
  color: white;
}

a {
  text-decoration: none;
}

header a {
  color: white;
}

.header-container {
  height: 60px;
}

.bootstrap {
  background-color: #1abc9c;
  color: white;
}

.bootstrap img {
  min-height: 0;
  max-height: 250px;
}

.card {
  border: none;
  border-radius: 1rem;
  overflow: hidden;
}

.fa-star {
  font-size: 2rem;
}

.hr {
  height: 5px;
  max-width: 170px;
  background-color: white;
  border-radius: 50px;
}

.no-bgc .hr {
  background-color: black;
}

.btn {
  color: white;
  border: 1px solid white;
}

.mb-1,
.btn-primary {
  font-size: 1.5rem;
}

.form-label {
  margin-bottom: 0;
}

.form-control {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: black;
}

.btn-primary {
  background-color: #1abc9c;
}

.credits {
  background-color: #3a546d;
  color: white;
}

footer a {
  color: white;
}

.fa-brands {
  font-size: 35px;
}

footer span a {
  color: greenyellow;
}

.copyright {
  background-color: #2c3e50;
  color: white;
}
